/* 
Created on : 04-Apr-2019, 18:36:11
Author : tivintismedia
*/

.ima-controls-div { height: 3.7em;}
.ima-countdown-div {bottom: 6px; left: 27px; position: absolute;}
.vjs-mouse-display .vjs-bif-tooltip {
  border-radius: 0.3em;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 6px 8px 8px 8px;
  pointer-events: none;
  position: absolute;
  top: -3.4em;
  /*visibility: hidden;*/
  z-index: 1; 
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); 
}
.vjs-subs-caps-button .vjs-menu ul.vjs-menu-content li:first-child .vjs-menu-item-text{
    display: none;
}
.vjs-subs-caps-button .vjs-menu ul.vjs-menu-content li:first-child:after{
    content: "off";
}
.video-js .vjs-control-bar{ background-color: rgba(0, 0, 0, 0.8); }
.video-js .vjs-progress-holder:focus .vjs-bif-tooltip {
  display: none; }
  .video-js .vjs-control-bar{}
.video-js .vjs-progress-control:hover .vjs-bif-tooltip,
.video-js .vjs-progress-control:hover .vjs-progress-holder:focus .vjs-bif-tooltip {
  display: block;
  font-size: 0.6em;
  visibility: visible; }

.video-js .vjs-progress-control.disabled:hover .vjs-bif-tooltip {
  font-size: 1em; }

.video-js .vjs-big-play-button{
	width: 2em;
	height: 2em;
	font-size: 4em;
	line-height: 1.8em;
	border-radius: 50em;
	top: 48%;
	left: 51%;
}
.video-js .vjs-volume-level:hover, .video-js .vjs-volume-level:active, .video-js .vjs-volume-level:focus { background-color: #7ed321; }

.video-js .vjs-big-play-button:hover { background-color: #ffffff; color: #7ed321; }

.vjs-texttrack-settings {
  	display: none;
}
/*line no 640*/
.video-js .vjs-progress-control {
    cursor: pointer;
    flex: auto;
    display: flex;
    /*align-items: center;*/
    min-width: 4em;
    touch-action: none;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 2px;
    padding: 0px !important;
    margin: 0px !important;

}
/*line no 1062*/
.video-js .vjs-fullscreen-control {
    cursor: pointer;
    flex: none;
    position: absolute!important;
    right: 0px!important;
}
.video-js .vjs-subs-caps-button{
    cursor: pointer;
    flex: none;
    position:absolute!important;
    right:80px!important;
}


.video-js .vjs-subs-caps-button .vjs-menu-button{
    cursor: pointer;
    flex: none;
    position:absolute!important;
    right:0px!important;
    top: 0px !important;
}

.vjs-control .vjs-button { height: 65% !important; }
.video-js .vjs-http-source-selector .vjs-menu-button { font-size: 20px !important;}
.video-js .vjs-http-source-selector{
    cursor: pointer;
    flex: none;
    position:absolute!important;
    right:40px!important;
}
.vjs-remaining-time-display{
    display: none!important;
}
.video-js .vjs-progress-control{
    opacity: 0;
}
/*.video-js .vjs-control-bar{
    height: 4em!important;
}*/
*:focus {
    outline: 0!important;
}
.vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover, .js-focus-visible .vjs-menu li.vjs-selected:hover{background-color:#7ed321 !important;}
.video-js .vjs-time-control{font-size: 1.3em; line-height: 4em;}
.vjs-subs-caps-button { top:-1px !important; height: auto !important;}
.vjs-button > .vjs-icon-placeholder:before{font-size: 2.4em; }
.video-js .vjs-play-progress{ background: #7ed321;}
.video-js .vjs-control-bar{ height: 6em;}
.vjs-icon-cog { top:-1px !important; height: auto; }
.vjs-button { top:11px !important; margin: 0px !important; }
.vjs-button:hover, .vjs-button:focus, .vjs-button:active{ color: #7ed321; }
.vjs-button:hover .vjs-menu-item{color: #ffffff;}

.vjs-button:hover .vjs-menu-item:hover{color: #ffffff; background-color:#6faf29!important; }

/* .vjs-subs-caps-button > .vjs-lock-showing > .vjs-menu-content {margin-bottom: -1em !important; bottom: -10px !important;}
.vjs-menu-button-popup .vjs-menu{bottom: -10px !important;} */

/* .video-js .vjs-play-progress:before{    top: -0.25em;} */
.vjs-menu-button-popup .vjs-menu {bottom: 20px;}

div.vjs-subs-caps-button .vjs-menu {bottom: -39px;}


.video-js .vjs-live-control {
    line-height: 4.3em!important;
    font-size: 14px;
    left: 27px;
    font-weight: bold;}
.video-js .vjs-play-progress:before{z-index: 999;}
.video-js .vjs-progress-control .vjs-progress-holder { height: 4px; }
.vjs-marker { background-color: #ffda15 !important; }
/*.video-js .vjs-control-text{position: relative;}*/
.video-js .vjs-mute-control, .video-js .vjs-play-control, video-js .vjs-subs-caps-button .vjs-menu-button, .video-js .vjs-fullscreen-control,.video-js .vjs-remaining-time{
    top: 6px;
}
.video-js .vjs-http-source-selector .vjs-menu-button{
    font-size:20px!important;
    margin-top:0px!important;
}

/* 11th april 2019*/

.vjs-time-tooltip:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top:18px;
    left: 13px;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    line-height: 0px;
    z-index: 0;
    _border-color: #ffffff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }

/* 
  .video-js .vjs-control{ height: 56px;} */
.vjs-live-display:after { 
    content: "";
    width: 13px;
    height: 13px;
    left: -18px;
    top: 23px;
    border-radius: 50px;
    position: absolute;
    display: block;
    z-index: 999;
    background-color: #7ed321;
    animation: blink 0.5s linear infinite;
}

.vjs-live-display .vjs-control-text{ padding-left: 18px !important;position: absolute; left: 15px !important;}
/*
@keyframes blink{
    0%{opacity: 0;}
    
    20%{opacity: 1;}
    }
    */

